/* General */
body {
	background:transparent url(../images/bg-sides.gif) repeat-y scroll center top;
	font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	line-height: 115%;
	margin:0;
	padding:0;
}

a {
    color:#0051AE;
    text-decoration:none;
}

a:hover {
    color:#0051AE;
    text-decoration:underline;
}

#main {
    display:block;
    margin:0 auto;
    overflow:hidden;
    width:980px;
}



/* Header */
#header {
    float:left;
    padding:6px 0 0;
    width:980px;
}

#header_inner {
    float:left;
    height:100px;
    margin:8px 4px 0;
    padding:0;
    width:960px;
}

#header #logo {
    float:left;
}

#header #logo a {
    background:transparent url(../images/logo2.png) no-repeat scroll 100% 0;
    display:block;
    height:66px;
    width:172px;
}

#search_form {
    background:transparent url(../images/search_box.gif) no-repeat scroll 50% 0;
    float:left;
	margin:35px 0 10px 130px;
	width:400px;
	height:48px;
}

form fieldset {
	margin:5px 0 0 0;
	border:medium;
}

#search_input {
	font-size:16px;
	line-height:16px;
	width:270px;
	margin:0 0 0 7px;
}

.submit {
	height:24px;
	width:80px;
	margin:0 0 0 10px;
}

#user_message {
    float:right;
    color:#4F4F4F;
    font-weight:bold;
}

#content {
	width: 980px;
	float:left;
	margin-bottom: 5px;
}

.main_content_container { 
	padding: 20px 0 0;
	display:block;
	width:952px;
	margin:0 auto;
	text-align:left;
}




/* Search Results */
.search_results {
    float:left;
    margin:20px 0 20px 14px;
    width:252px;
}

.search_header {
    background:transparent url(../images/search_header.png) no-repeat scroll 0 0;
    float:left;
    height:30px;
    text-align:center;
    width:252px;
}

.search_header p {
	float:left;
    color:#FFFFFF;
    font-size:14px;
    font-weight:bold;
    margin:8px 0 0 50px;
}

.search_header a {
	float:right;
    color:#FFFFFF;
    font-size:9px;
    font-weight:bold;
    margin:8px 50px 0 0;
}


.search_results .line {
	float:left;
	height:2px;
	clear:both;
	width:252px;
	background-color: #A8A8A8;
}

.search_results .border {
	float:left;
	width:250px;
	border:1px solid #C7C7C7;
}

.search_results .box {
	float:left;
    margin:12px 6px 10px 6px;
	padding:0 0 12px 0;
	background-color: #F4F4F4;
    width:238px;
}

.search_results .title {
    float:left;
    margin:20px 5px 4px 5px;
    font-size:14px;
    font-weight:bold;
    color:#0051AE;
}

.search_results dl {
    float:left;
	margin:0px;
	width: 235px;
}

.search_results dl dt {
    type:none;
}

.search_results dl dt a {
    float:left;
	width: 200px;
    font-size:12px;
    margin:1px 20px 1px 20px;
    color:#11366F;
}

#create_environment {
	width:235px;
	margin:4px 0 0 20px;
}

#create_environment input {
	width:160px;
}

#create_environment img {
	background: url(../images/add_key_grey.png) no-repeat;
}

#create_environment img:hover {
	background: url(../images/add_key_color.png) no-repeat;
}




/* Selected Result */
.selected {
	float:right;
	width:685px;
    margin:20px 14px 0;
}

.selected_name {
    color:#FFFFFF;
    float:left;
    font-size:14px;
    font-weight:bold;
    height:22px;
    overflow:hidden;
    padding:8px 0 0 15px;
    text-decoration:none;
    background:#FFFFFF url(../images/selected.png) no-repeat scroll 0 -60px;
    width:280px;
    background-position:0 0 !important;
}

.selected .line {
	float:left;
	height:3px;
	clear:both;
	width:685px;
	background-color:#A8A8A8;
}

#selected_details {
    background:transparent url(../images/selected_side.gif) repeat-y scroll left top;
    float:left;
    width:685px;
	margin:0 0 40px 0;
    z-index:0;
}

#selected_properties {
	float:left;
    width:663px;
	margin:5px 0 0 0;
    padding:10px 11px;
	font-size:11px;
	color:#3E3E3E;
    position: relative;
}

.selected_details_topbot {
    height:4px;
	width:685px;
    clear:both;
	background-color:#A8A8A8;   /* A8A8A8 8DB578 7FA068 697F50 */
}

#selected_buttons {
	clear:left;
	width:663px;
	margin:0 0 0 4px;
}




/* Items */
.add_div {
	float:left;
    height:22px;
}

.add_div_active {
	width:260px;
}

.add_div img {
	float:left;
	background: url(../images/add_app_grey.png) no-repeat 0 3px;
    height:22px;
    width:36px;
	cursor:pointer;	
}

.add_div img:hover {
	background: url(../images/add_app_color.png) no-repeat 0 3px;
}

.add_div form {
	display:none;
}

.add_div input {
	font-size:10px;
	width:200px;
}

#clone_environment img {
	background: url(../images/clone_env_grey.png) no-repeat;
}

#clone_environment img:hover {
	background: url(../images/clone_env_color.png) no-repeat;
}

#take_ownership {
	float:left;
	background: url(../images/take_own_grey.png) no-repeat 0 3px;
    height:22px;
    width:36px;
	cursor:pointer;	
}

#take_ownership:hover {
	background: url(../images/take_own_color.png) no-repeat 0 3px;
}



/* Items */
#items {
	margin:10px 0 0 0;
	padding:10px 11px;
}

.item {
    float:left;
    margin:0 0 15px;
    width:665px;
    z-index:0;
}

.item .topbot {
    height:7px;
	width:665px;
    clear:both;
	background-color:#EBEBEB;
}

.item .content {
    background:transparent url(../images/item_side.gif) repeat-y scroll left top;
    float:left;
    text-align:left;
}

.item .content_wrapper {
    float:left;
    padding:10px 11px;
}

.item .info {
    float:left;
    height:30px;
    width:650px;
}

.item .core_info { 
	float:left;
	width:441px;
}

.core_info .name { 
	font-size:14px;
	color:#4F4F4F;
	font-weight:bold;
}

.core_info .description { 
	float:left;
	margin-top:2px;
	font-size:10px;
	color:#838383;
}

.item .separator {
	float:left;
	clear:both;
	height:1px;
	width:600px;
	border-top:1px solid #C7C7C7;
	margin:10px 0 10px 0;
}


.property_area {
	float:left;
	clear:both;
	width:100%;
}

.close_item {
	float:right;
	background: url(../images/close_item_grey.png) no-repeat;
    height:29px;
    width:33px;
	cursor:pointer;
	display:none;
}

.close_item:hover {
	background: url(../images/close_item_color.png) no-repeat;
}

.open_item {
	float:right;
	background: url(../images/open_item_grey.png) no-repeat;
    height:29px;
    width:33px;
	cursor:pointer;
}

.open_item:hover {
	background: url(../images/open_item_color.png) no-repeat;
}

#delete_environment, .delete_item {
	float:right;
	background: url(../images/delete_item_grey.png) no-repeat;
    height:29px;
    width:33px;
	cursor:pointer;
}

#delete_environment:hover, .delete_item:hover {
	background: url(../images/delete_item_color.png) no-repeat;
}



/* Properties */
.properties {
	float:left;
	width:100%;
	font-size:11px;
	color:#3E3E3E;
    position: relative;
}

.properties table, #selected_properties table {
	float:left;
	width:600px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	table-layout:fixed;
}

#selected_properties table {
	margin:0 0 15px 0;
}

.keydots {
	vertical-align:top;
    width:130px;
	background:transparent url(../images/dotbar.gif) repeat-x left 2px;
}

key {
	font-size:11px;
	background-color:#FFFFFF;
}

.value {
	width:410px;      /* need width to display RSA key fully - it has line breaks at about 410px */
	height:10px;
	overflow:hidden;
	cursor:text;
	word-wrap:break-word;
}

.value:hover {
	color: #0051AE;
}

.td_edit {     /* used when editing property value */
	width:370px;
}

.delete_property {
    float:right;
	background: url(../images/delete_property_grey.png) no-repeat;
    height:11px;
    width:11px;
}

.delete_property:hover {
	background: url(../images/delete_property_color.png) no-repeat;
}

.add_property {
	width:600px;
	margin:6px 0 0 4px;
}

.add_property img {
	background: url(../images/add_property_grey.png) no-repeat;
}

.add_property img:hover {
	background: url(../images/add_property_color.png) no-repeat;
}

.input-hidden     /* to get a form with 2 text fields to submit on enter you need a button.  ie6 doesn't work if you set the button to display:hidden so you have to do this.  */
{
   border            : none !important;
   height            : 0px !important;
   padding            : 0px !important;
   width            : 0px !important;
}
