/* General */
body {
	background:transparent url(../images/bg-sides.gif) repeat-y scroll center top;
	font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	line-height: 115%;
	margin:0;
	padding:0;
}

a {
    color:#0051AE;
    text-decoration:none;
}

a:hover {
    color:#0051AE;
    text-decoration:underline;
}

#main {
    display:block;
    margin:0 auto;
    overflow:hidden;
    width:980px;
}



/* Header */
#header {
    float:left;
    padding:6px 0 0;
    width:980px;
}

#header_inner {
    float:left;
    height:100px;
    margin:8px 4px 0;
    padding:0;
    width:960px;
}

#header #logo {
    float:left;
}

#header #logo a {
    background:transparent url(../images/logo2.png) no-repeat scroll 100% 0;
    display:block;
    height:66px;
    width:172px;
}

#search_form {
    background:transparent url(../images/search_box.gif) no-repeat scroll 50% 0;
    float:left;
	margin:35px 0 10px 130px;
	width:400px;
	height:48px;
}

form fieldset {
	margin:10px 0 0 0;
	border:medium;
}

#search_input {
	font-size:16px;
	line-height:16px;
	width:270px;
	margin:0 0 0 7px;
}

.submit {
	height:24px;
	width:80px;
	margin:0 0 0 10px;
}

#user_message {
    float:right;
    color:#4F4F4F;
    font-weight:bold;
}

#content {
	width: 980px;
	float:left;
	margin-bottom: 5px;
}

.main_content_container { 
	padding: 20px 0 0;
	display:block;
	width:952px;
	margin:0 auto;
	text-align:left;
}




/* Search Results */
.search_results {
    float:left;
    margin:20px 0 20px 14px;
    width:252px;
}

.search_header {
    background:transparent url(../images/search_header.png) no-repeat scroll 0 0;
    float:left;
    height:30px;
    text-align:center;
    width:252px;
}

.search_header p {
	float:left;
    color:#FFFFFF;
    font-size:14px;
    font-weight:bold;
    margin:8px 0 0 50px;
}

.search_header a {
	float:right;
    color:#FFFFFF;
    font-size:9px;
    font-weight:bold;
    margin:8px 50px 0 0;
}


.search_results .line {
	float:left;
	height:2px;
	clear:both;
	width:252px;
	background-color: #A8A8A8;
}

.search_results .border {
	float:left;
	width:250px;
	border:1px solid #C7C7C7;
}

.search_results .box {
	float:left;
    margin:12px 6px 10px 6px;
	padding:0 0 12px 0;
	background-color: #F4F4F4;
    width:238px;
}

.search_results .title {
    float:left;
    margin:20px 5px 4px 5px;
    font-size:14px;
    font-weight:bold;
    color:#0051AE;
}

.search_results dl, #add_environment, #add_application {
    float:left;
	width: 235px;
}

.search_results dl dt {
    type:none;
}

.search_results dl dt a {
    float:left;
	width: 200px;
    font-size:12px;
    margin:1px 20px 1px 20px;
    color:#11366F;
}





/* Selected Result */
.selected {
	float:right;
	width:685px;
    margin:20px 14px 0;
}

.selected_name {
    color:#FFFFFF;
    float:left;
    font-size:14px;
    font-weight:bold;
    height:22px;
    overflow:hidden;
    padding:8px 0 0 15px;
    text-decoration:none;
    background:#FFFFFF url(../images/selected.png) no-repeat scroll 0 -60px;
    width:280px;
    background-position:0 0 !important;
}

.selected .line {
	float:left;
	height:3px;
	clear:both;
	width:685px;
	background-color:#A8A8A8;
}

#selected_details {
    background:transparent url(../images/selected_side.gif) repeat-y scroll left top;
    float:left;
    width:685px;
    z-index:0;
}

#selected_properties {
	float:left;
    width:663px;
	margin:10px 0 10px 0;
    padding:10px 11px;
	font-size:11px;
	color:#3E3E3E;
    position: relative;
}

.selected_details_bottom {
    height:4px;
	width:685px;
    clear:both;
	background-color:#A8A8A8;   /* A8A8A8 8DB578 7FA068 697F50 */
}

#selected_buttons {
	float:right;
}

#clone_selected {
	float:left;
	background: url(../images/clone_selected_grey.png) no-repeat;
    height:29px;
    width:34px;
	cursor:pointer;
}

#clone_selected:hover {
	background: url(../images/clone_selected_color.png) no-repeat;
}

#delete_selected, .delete_item {
	float:right;
	background: url(../images/delete_item_grey.png) no-repeat;
    height:29px;
    width:33px;
	cursor:pointer;
}

#delete_selected:hover, .delete_item:hover {
	background: url(../images/delete_item_color.png) no-repeat;
}




/* Items */
#items {
	margin:10px 0 0 0;
	padding:10px 11px;
}

.item {
    float:left;
    margin:0 0 15px;
    width:665px;
    z-index:0;
}

.item .topbot {
    height:7px;
	width:665px;
    clear:both;
	background-color:#EBEBEB;
}

.item .content {
    background:transparent url(../images/item_side.gif) repeat-y scroll left top;
    float:left;
    text-align:left;
}

.item .content_wrapper {
    float:left;
    padding:10px 11px;
}

.item .info {
    float:left;
    height:30px;
    width:650px;
}

.item .core_info { 
	float:left;
	width:441px;
}

.core_info .name { 
	font-size:14px;
	color:#4F4F4F;
	font-weight:bold;
}

.core_info .description { 
	float:left;
	margin-top:2px;
	font-size:10px;
	color:#838383;
}

.item .separator {
	float:left;
	clear:both;
	height:1px;
	width:573px;
	border-top:1px solid #C7C7C7;
	margin:10px 0 10px 0;
}


.property_area {
	float:left;
	clear:both;
	width:100%;
}

.close_item {
	float:right;
	background: url(../images/close_item_grey.png) no-repeat;
    height:29px;
    width:33px;
	cursor:pointer;
	display:none;
}

.close_item:hover {
	background: url(../images/close_item_color.png) no-repeat;
}

.open_item {
	float:right;
	background: url(../images/open_item_grey.png) no-repeat;
    height:29px;
    width:33px;
	cursor:pointer;
}

.open_item:hover {
	background: url(../images/open_item_color.png) no-repeat;
}




/* Properties */
.properties {
	float:left;
	width:100%;
	font-size:11px;
	color:#3E3E3E;
    position: relative;
}

.properties table, #selected_properties table {
	float:left;
	margin:0px;
	padding:0px;
	width:580px;
	list-style-type:none;
}

.keydots {
    width:150px;
	background:transparent url(../images/dotbar.gif) repeat-x left 2px;
}

key {
	font-size:11px;
	background-color:#FFFFFF;
}

.td_edit {
	width:380px;
}

.value {
	width:380px;
	height:10px;
	overflow:hidden;
	cursor:text;
}

.value:hover {
	color: #0051AE;
}

.delete_property {
    float:right;
	background: url(../images/delete_property.png) no-repeat 0px -21px;
    height:11px;
    width:11px;
}

.delete_property:hover {
    background-position:0px 0px;
}

.add_key {
	float:left;
	margin:6px 100px 0 4px;
	background: url(../images/add_key_grey.png) no-repeat;
    height:16px;
    width:16px;
	cursor:pointer;
}

.add_key:hover {
	background: url(../images/add_key_color.png) no-repeat;
}

.add_property_form, .add_environment_form, clone_form {
	float:left;
	margin:-8px 0 0 -80px;
	display:none;
}

.add_property_text, .add_environment_text, clone_text {
	width:120px;
}
